<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Vitalii\Exam\Api\FruitRepositoryInterface"
                type="Vitalii\Exam\Model\FruitRepository"/>
    <preference for="Vitalii\Exam\Api\Data\FruitInterface"
                type="Vitalii\Exam\Model\FruitModel"/>
    <preference for="Vitalii\Exam\Api\ColorRepositoryInterface"
                type="Vitalii\Exam\Model\ColorRepository"/>
    <preference for="Vitalii\Exam\Api\Data\ColorInterface"
                type="Vitalii\Exam\Model\ColorModel"/>
</config>
